npx shadcn@latest init   
npx shadcn@latest add button                                            
npm install nextjs-toploader          
npm install @clerk/nextjs@latest  
npx shadcn@latest add separator                              
npx shadcn@latest add sheet
npm install prisma --save-dev
npm install @prisma/client
npx shadcn@latest add dialog
npx shadcn@latest add form
npx shadcn@latest add select
npx shadcn@latest add input
npx shadcn@latest add toast

npx shadcn@latest add alert-dialog
npx shadcn@latest add calendar
npx shadcn@latest add popover

npm install uploadthing @uploadthing/react

npm install axios

npm install zustand

npm run dev     

## pp account
# rentalejemplo1@gmail.com
# nose12345